<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="bit_dec.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="bit_dec.Perspective"
            fixed="true"
            icon="icons/alt_about.gif"
            id="BIT_DEC.perspective"
            name="DEC">
      </perspective>
      <perspective
            class="bit_dec.debugPerspective"
            icon="icons/sample.gif"
            id="BIT_DEC.debugPerspective"
            name="Simulation">
      </perspective>
   </extension>
   <extension
         id="bit_dec.views.MyTemplateView"
         name="Sample View"
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="bit_dec.views.callgraphView"
            icon="icons/sample.gif"
            id="BIT_DEC.callgraphView"
            name="APK Call Graph"
            restorable="true">
      </view>
      <view
            class="bit_dec.views.cfgView"
            id="BIT_DEC.cfgView"
            name="Function CFG"
            restorable="true">
      </view>
      <view
            class="bit_dec.views.functionsView"
            id="BIT_DEC.functionsView"
            name="Function List"
            restorable="true">
      </view>
      <view
            class="bit_dec.views.AdvancedCodeView"
            id="BIT_DEC.advanced_code"
            name="C Source Code"
            restorable="true">
      </view>
      <view
            class="bit_dec.views.myNavigatorView"
            id="BIT_DEC.myNavigator"
            name="Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="bit_dec.views.ConsoleFactory"
            label="Output">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="BIT_DEC.myNavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="BIT_DEC.myNavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="bit_dec.ASMeditors.ASMEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="asm"
            icon="icons/sample.gif"
            id="bit_dec.ASMeditors.ASMEditor"
            name="ASM Editor">
      </editor>
   </extension> >
</plugin>
